body {
  font-family: "Zen Old Mincho", ui-rounded;
  margin: 40px;
  padding: 15px;
  background-color: linear-gradient
    (
      132deg,
      rgb(157, 153, 64) 14%,
      rgb(157, 151, 71) 27%,
      rgb(186, 72, 31) 50%,
      rgb(220, 102, 36) 73%,
      rgb(233, 200, 145) 100%
    );
}

#buttonSearch #pinLocations {
  border-radius: 20px;
  text-align: center;
}

h1 {
}
#cityHeadline {
  color: #8a8635;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  text-align: justify;
  font-family: "Zen Old Mincho Black", ui-rounded;
}

#searching {
  margin: 2.5px;
  border-radius: 20px;
  border-color: #8a8635;
  border-width: 0.25em;
  align-content: center;
}

#searching .active {
  border-color: #8a8635;
  text-decoration-color: #350b40;
}

#weatherIcon {
  margin: 2.5px;
  color: #350b40;
  align-content: center;
}

#pinbeat {
  padding: 5px 5px 5px 30px;
  align-items: center;
}

li {
  color: #ae431e;
  font-size: 20px;
  font-weight: 100;
  height: fit-content(5em);
  list-style: none;
  padding: 10px 5px 10px 8px;
  margin: 10px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 55px;
  font-weight: 400;
  line-height: 1;
}

#search-form {
  border-color: #e9c891;
  margin: 15px;
  padding: 10px;
}

.temperature-container {
  color: rgb(233, 200, 145);
}
.temperature-container .active {
  color: #350b40;
  cursor: default;
}
.temperature-container .active:hover {
  text-decoration: none;
  color: #350b40;
}
.dailyForecast {
  text-align: left;
  font-size: 23px;
  font-weight: 150;
  color: #35abb6;
  margin: 50px;
}

.end {
  text-align: center;
  text-decoration: wavy;
}

.open {
  color: rgb(119, 119, 119);
}

.connection {
  text-align: center;
  font-family: "Zen Old Mincho Black", ui-rounded;
  font-weight: bold;
  color: #8a8635;
}
