body {
  font-family: "Zen Old Mincho", ui-rounded;
  margin: 40px;
  padding: 15px;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/060/686/original/jason-leung-wHddViTmSvA-unsplash.jpg?1672347774);
}

.bg-image {
  backdrop-filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  background-color: azure;
  color: #350b40;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
}

#city {
  text-align: left;
  padding-bottom: 10px;
  font-size: 45px;
  font-weight: 100;
  line-height: 28px;
  font-family: "Zen Old Mincho Black", ui-rounded;
}
#cityHeadline {
  color: #350b40;
  margin: 1em;
  padding: 10% 0;
}

#pinbeat {
  padding: 0px 0px 0px 30px;
  color: #8a8635;
}

#searching {
  margin: 2.5px;
  border-radius: 20px;
  border-color: #8a8635;
  color: #350b40;
  padding-left: 30%;
  border-width: 0.25em;
  text-align: center;
  margin-left: 10;
}

#searching:hover:after {
  cursor: pointer;
  border-color: #8a8635;
  text-decoration-color: #350b40;
}

#buttonSearch {
  box-shadow: inset 1px 2px 11px 10px #9d9940;
  background-color: #97670e;
  border-radius: 3px;
  border: 2px solid #350b40;
  display: inline-block;
  cursor: pointer;
  color: #350b40;
  height: auto;
  font-size: 15px;
  font-weight: 600;
  padding: 4px 10px;
  text-decoration: none;
}
#buttonSearch:hover {
  background-color: #dc6624;
}
#buttonSearch:active {
  position: relative;
  top: 1px;
}

#pinLocations {
  box-shadow: inset 1px 2px 11px 10px #9d9940;
  background-color: #97670e;
  border-radius: 3px;
  border: 2px solid #350b40;
  display: inline-block;
  cursor: pointer;
  color: #350b40;
  height: auto;
  font-size: 15px;
  font-weight: 600;
  padding: 4px 10px;
  text-decoration: none;
}

#pinLocations:hover {
  background-color: #dc6624;
}

#pinLocations:active {
  position: relative;
  top: 1px;
}

#weatherIcon {
  margin: 2.5px;
  color: #350b40;
}

.temperature {
  color: #350b40;
  font-size: 45px;
  font-weight: bolder;
}

h3 {
  text-align: center;
  color: #350b40;
  font-size: 30px;
  font-family: "Zen Old Mincho Black", ui-rounded;
  padding: 10px;
}
.end {
  text-align: center;
  text-decoration: wavy;
}

.open {
  color: rgb(119, 119, 119);
}

.connection {
  text-align: center;
  font-family: "Zen Old Mincho Black", ui-rounded;
  font-weight: bold;
  color: #8a8635;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #97670e;
  font-size: 18px;
  font-weight: bolder;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  position: relative;
  max-width: 600px;
  margin: 30px auto;
  padding: 10px 50px 20px;
}

.weather-app {
  border: 10px;
  border-radius: 10px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #97670e;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #8a8635;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #350b40;
}

.weather-forecast-date {
  font-size: 16px;
  color: #350b40;
  font-weight: bolder;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
