body {
  font-family: "Zen Old Mincho", ui-rounded;
  margin: 40px;
  padding: 15px;
  background-color: linear-gradient
    (
      132deg,
      rgb(157, 153, 64) 14%,
      rgb(157, 151, 71) 27%,
      rgb(186, 72, 31) 50%,
      rgb(220, 102, 36) 73%,
      rgb(233, 200, 145) 100%
    );
}

h1 {
  align-items: center;
  padding-bottom: 40px;
}
#cityHeadline {
  color: #350b40;
  font-size: 45px;
  font-weight: 100;
  line-height: 28px;
  text-align: justify;
  font-family: "Zen Old Mincho Black", ui-rounded;
}

#pinbeat {
  padding: 0px 0px 0px 30px;
  color: #8a8635;
}

#searching {
  margin: 2.5px;
  border-radius: 20px;
  border-color: #8a8635;
  padding-left: 30%;
  border-width: 0.25em;
  align-content: center;
}

#searching :active {
  border-color: #8a8635;
  text-decoration-color: #350b40;
}

#buttonSearch {
  margin: 2.5px;
  color: (220, 102, 36);
  border-radius: 20px;
  border-color: #8a8635;
  padding-left: 30%;
  border-width: 0.25em;
  text-align: center;
}

#buttonSearch :hover {
  color: #e9c891;
}

#pinLocations {
  margin: 2.5px;
  border-radius: 20px;
  border-color: #8a8635;
  padding-left: 30%;
  border-width: 0.25em;
  align-content: center;
}

#searching #weatherIcon {
  margin: 2.5px;
  color: #350b40;
  align-content: center;
}

li {
  color: #97670e;
  font-size: 20px;
  font-weight: 100;
  height: fit-content(5em);
  list-style: none;
  padding: 10px 5px 10px 8px;
  margin: 10px;
}

.temperature {
  color: #350b40;
  font-size: 55px;
  font-weight: bolder;
}

#search-form {
  border-color: #e9c891;
  margin: 15px;
  padding: 10px;
}

.temperature-container {
  color: rgb(233, 200, 145);
}
.temperature-container .active {
  color: #350b40;
  cursor: default;
}
.temperature-container .active:hover {
  text-decoration: none;
  color: #350b40;
}

h3 {
  text-align: center;
  color: #350b40;
  font-size: 30px;
  font-family: "Zen Old Mincho Black", ui-rounded;
}
.dailyForecast {
  margin-top: 20px;
  text-align: center;
}

.dailyForecast-date {
  font-size: 16px;
  font-weight: 150;
  opacity: 0.5;
  color: #35abb6;
}

.dailyForecast-temperature-min {
  opacity: 0.5;
}

.dailyForecast-temperature {
  font-size: 13px;
  color: #350b40;
}

.end {
  text-align: center;
  text-decoration: wavy;
}

.open {
  color: rgb(119, 119, 119);
}

.connection {
  text-align: center;
  font-family: "Zen Old Mincho Black", ui-rounded;
  font-weight: bold;
  color: #8a8635;
}
